{% extends 'base.html' %}

{% block content %}
<div>
    <h5>프로필</h5>
</div>

<!--my profile-->
<div>
    {% if profile.profile_img %}
    <div>
        <img class="image" src="{{ profile.profile_img.url }}" alt="">
    </div>
    {% endif %}

    <div>
        <p>{{ profile.nickname }}</p>
        <p>{{ profile.bio }}</p>
    </div>
</div>

<!--followers-->
<div>
    <p>Follow : {{ active_followers|length }}</p>
    <p>Following {{ active_followings|length }} </p>

    {% if request.user != profile.user %}
    <form action="{% url 'accounts:follow' profile.user_id %}" method="POST">
        {% csrf_token %}

        {% if request.user.profile in profile.followers.all %}
        <input type="submit" value="UnFollow">
        {% else %}
        <input type="submit" value="Follow">
        {% endif %}
    </form>
    {% endif %}
</div>

<!-- followers list -->
<div>
    <h6>팔로워 목록</h6>
    <ul>
        {% for follower in active_followers %}
        <p>{{ follower.nickname }}</p>
        <a href="{% url 'accounts:profile' follower.user_id%}">남의 프로필</a>
        <br>

        {% empty %}
        <li>팔로워가 없습니다.</li>
        {% endfor %}
    </ul>
    <h6>팔로잉 목록</h6>
    <ul>
        {% for following in active_followings %}
        <li>{{ following.nickname }}</li>
        <a href="{% url 'accounts:profile' following.user_id%}">남의 프로필</a>
        <br>
        {% empty %}
        <li>팔로잉이 없습니다.</li>
        {% endfor %}
    </ul>
</div>

{% if profile.user == request.user %}
<a href="{% url 'accounts:profile_modify' profile.user_id %}">수정</a>

<a href="{% url 'accounts:user_delete' profile.user_id %}" onclick="return confirm('진짜로 탈퇴?')">탈퇴</a>
{% endif %}

{% endblock%}