{% extends 'base.html' %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/profile.css' %}">
{% endblock %}

{% block scripts %}
{{ block.super}}
{% endblock %}

{% block content %}
<div class="upper-container">
    <p id="nickname">{{ profile.nickname }}</p>

    <!--follow btn-->
    <div>
        {% if request.user != profile.user %}
        <form action="{% url 'accounts:follow' profile.user_id %}" method="POST">
            {% csrf_token %}

            {% if request.user.profile in profile.followers.all %}
            <input class="edit-btn" type="submit" value="언팔로우">
            {% else %}
            <input class="edit-btn" type="submit" value="팔로우">
            {% endif %}
        </form>
        {% endif %}
    </div>

    <!--edit-->
    <div>
        {% if profile.user == request.user %}
        <a class="edit-btn" id="second-edit" href="{% url 'accounts:profile_modify' profile.user_id %}">수정</a>
        <a class="edit-btn" href="{% url 'accounts:user_delete' profile.user_id %}"
            onclick="return confirm('진짜로 탈퇴?')">탈퇴</a>
        {% endif %}
    </div>

</div>
<!--my profile-->
<div>
    {% if profile.profile_img %}
    <img class="img" src="{{ profile.profile_img.url }}" alt="">
    {% endif %}
    <p id="bio">{{ profile.bio }}</p>
</div>

<!--follow-->
<!--follow number-->
<div class="follow-container">
    <a class="modal-input" data-modal="modal-followers" id="follow" href="#">팔로우 {{ active_followers.count }}</a>
    <a class="modal-input" data-modal="modal-followings" id="following" href="#">팔로잉 {{ active_followings.count }} </a>
</div>

<!--Content list-->
<div class="content-container">
    <!--diary-->
    <p class="content-title">작성글</p>
    {% for diary in diaries %}
    <div class="post">
        <div class="left-content">
            <a id="title" href="{% url 'diary:detail' diary.id %}">{{ diary.title }}</a>
            <p id="artist">{{ diary.artist }} - {{ diary.music_title }}</p>
        </div>
        <img id="thumbnail" src="{{ diary.thumbnail_url }}">
    </div>
    {% empty%}
    <p>작성글이 없습니다.</p>
    {% endfor %}

    <!--comment-->
    <div class="comment-container">
        <p class="content-title">작성댓글</p>
        {% for comment in comments %}
        <div class="comment">
            <a class="comment-content" href="{% url 'diary:detail' comment.post.id %}">{{ comment }}</a>
            <p class="comment-content" id="content-title">(글제목: {{comment.post }})</p>
        </div>
        {% empty %}
        <p>작성댓글이 없습니다.</p>

        {% endfor %}
    </div>
</div>

<!--hidden-->
<div class="modal-container" id="modal-followers">
    <div class="modal" onclick="event.stopPropagation();">
        <span class="close-btn">&times;</span>
        <p class="modal-title">팔로워</p>
        {% for follower in active_followers %}
        <div class="follow-profile">
            {% if follower.profile_img %}
            <img class="follow-img" src="{{ follower.profile_img.url }}" alt="">
            {% endif %}
            <a class="follow-nickname" href="{% url 'accounts:profile' follower.user_id%}">{{ follower.nickname }}</a>
        </div>
        {% empty %}
        <p class="no-follow">팔로워가 없습니다.</p>
        {% endfor %}
    </div>
</div>

<div class="modal-container" id="modal-followings">
    <div class="modal" onclick="event.stopPropagation();">
        <span class="close-btn">&times;</span>
        <p class="modal-title">팔로워</p>
        {% for following in active_followings %}
        <div class="follow-profile">
            {% if following.profile_img %}
            <img class="follow-img" src="{{ following.profile_img.url }}" alt="">
            {% endif %}
            <a class="follow-nickname" href="{% url 'accounts:profile' following.user_id%}">{{ following.nickname }}</a>
        </div>
        {% empty %}
        <p class="no-follow">팔로잉이 없습니다.</p>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}