{% load static %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Title -->
    <title>로그인</title>
</head>

<body>
    <h1>로그인</h1>
    <div>
        <a href="{% url 'account_signup' %}">회원가입</a>
        <form method="POST" action="{% url 'accounts:guest' %}">
            {% csrf_token %}
            <input type="submit" value="게스트 로그인">
        </form>
    </div>

    <div>
        <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.login }}
            {{ form.password }}
            {{ form.remember }}
            <button type="submit">로그인</button>
            <br>
            <a href="{% url 'account_reset_password' %}">비밀번호를 까먹음?</a>
        </form>
    </div>
</body>

</html>