{% load static %}
{% load allauth %}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/common/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/authentication/auth.css' %}">

    <title>비밀번호 재설정</title>
</head>

<body>
    <!--home-->
    <div>
        <a class="material-symbols-outlined icon" id="home" href="{% url 'diary:index' %}">home</a>
    </div>

    <div id="pw-send-done">
        <p>비밀번호 재설정이 완료되었습니다.</p>
    </div>

    <div class="notice" id="notice-reset">
        <p>SoundScape</p>
    </div>

</body>