{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/common/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/authentication/auth.css' %}">

    <title>비밀번호 재설정</title>
</head>

<body>
    <!--home-->
    <div>
        <a class="material-symbols-outlined icon" id="home" href="{% url 'diary:index' %}">home</a>
    </div>

    <div id="pw-send-done">
        <p>해당 주소로 인증 메일을 보냈습니다. <br> 메일함을 확인해 주세요.</p>
    </div>

    <div class="notice" id="notice-reset">
        <p>메일을 수신하지 못했다면 스팸 메일함을 확인해 주세요.</p>
    </div>
</body>