/*communication button*/
#communication {
    width: 100%;
}
    #like-btn {
        display: inline-block;
    }

    #like-number {
        display: inline-block;
    }



/* hidden **/
#like-list, #comment {
    display: none;
}
.reply-form {
    display: none;
}
