{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/detail.js' %}"></script>
{% endblock %}

{% block content %}
<!-- CONTENT -->
<h2> {{post.title}} </h2>
{{post.create_at}} <br>
{{post.writer.nickname}}<br>
{{post.content}}

<!-- CRUD BUTTON -->
<br><br>
{% if post.writer == request.user %}
<a href="{% url 'diary:update' post.id %}">수정</a>
<a href="{% url 'diary:delete' post.id %}" onclick="return confirm('Really Delete?')">
    삭제
</a>
{% endif %}


<!-- COMMENT -->
<h3>댓글</h3>
{% if comments %}
<p>댓글 {{ comments|length }}개</p>
{% endif %}

<ul>
    {% for comment in comments %}
    <li>
        <p>{{ comment.writer.nickname }} ({{ comment.created_at }}) - {{ comment.content }}</p>

        <!-- delete -->
        {% if comment.writer == request.user %}
        <form action="{% url 'diary:comment_delete' post.id comment.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="delete" onclick="return confirm('really delete?')">
        </form>
        <!-- update -->
        <a href="{% url 'diary:comment_update' post.id comment.id %}">수정</a>
        {% endif %}

        <!-- reply-button -->
        <button class="reply-button" parent-id="{{ comment.id }}">답글</button>


        <!-- reply-comment -->
        <!-- reply-comment list -->
        <div>
            {% if comment.replies.all %}
            <ul>
                {% for reply in comment.replies.all %}
                <li>
                    <p>>> {{ reply.writer.nickname }} ({{ reply.created_at }}) - {{ reply.content }}</p>

                    <!-- delete -->
                    {% if reply.writer == request.user %}
                    <form action="{% url 'diary:comment_delete' post.id reply.id %}" method="POST"
                        style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="delete" onclick="return confirm('really delete?')">
                    </form>
                    <!-- update -->
                    <a href="{% url 'diary:comment_update' post.id reply.id %}">수정</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <hr>

        <!-- reply-comment form -->
        <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: none;">
            {% if request.user.is_authenticated %}
            <form class="reply-form-{{ comment.id }}" method="POST"
                action="{% url 'diary:comment_reply' post.id comment.id %}">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="작성">
            </form>
            {% endif %}
        </div>
    </li>

    {% empty %}
    <p>No 댓글</p>

    {% endfor %}
</ul>

<hr>

<!-- comment create form -->
{% if request.user.is_authenticated %}
<form action="{% url 'diary:comment_create' post.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="작성">
</form>

{% else %}
<a href="{% url 'account_login' %}">댓글 쓸라면 로그인</a>
{% endif %}

{% endblock %}