{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block css %}
{{ block.super }}
{% with theme_path='css/theme/'|add:post.theme|add:'.css' %}
<link id="stylesheet-theme" rel="stylesheet" href="{% static theme_path %}">
<link rel="stylesheet" href="{% static 'css/layout/detail.css' %}">
{% endwith %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/detail.js' %}"></script>
<script src="{% static 'js/music/musicPlayer.js' %}"></script>
{% endblock %}

{% block content %}
<!-- CONTENT -->
<div>
    <!--information-->
    <h2 id="title"> {{post.title}} </h2>
    <h3>{{post.music_title}} - {{ post.artist }}</h3>
    {{post.create_at}} <br>
    {{post.writer.nickname}}<br>
    <a href="{% url 'accounts:profile' post.writer.user.profile.user_id %}">글쓴이 프로필</a><br>

    <!--music-->
    <div s>
        <!--video-->
        <div id="player" video-id="{{ post.video_id }}"></div> <br>

        <!--player-->
        <div>
            <button id="playBtn">>></button>
            <button id="mute">음소거</button>
            <div class="slider">
                <input id="volume" type="range" min="1" max="100" value="50">
                <input id="seeker" type="range" value="0">
            </div>
        </div>
    </div>

    <!--main content-->
    {{ post.content|mark }}

    <!-- CRUD button -->
    <br><br>
    {% if post.writer.user == request.user %}
    <a href="{% url 'diary:update' post.id %}">수정</a>
    <a href="{% url 'diary:delete' post.id %}" onclick="return confirm('Really Delete?')">
        삭제
    </a>
    {% endif %}
</div>

<!--COMMUNICATION BUTTON-->
<div id="communication">
    <!--like btn-->
    <div id="like-btn">
        <form action="{% url 'diary:like' post.id %}" method="POST">
            {% csrf_token %}

            {% if request.user.profile in post.like_users.all %}
            <input type="submit" value="UnLike">
            {% else %}
            <input type="submit" value="Like">
            {% endif %}
        </form>
    </div>

    <!--like number & list redirect -->
    <div id="like-number">
        <p onclick="toggle('like-list')">{{ post.like_users.count }}명이 좋아합니다.</p>
    </div>

    <!--comment btn-->
    <button id="comment-btn" onclick="toggle('comment')">댓글</button>
</div>

<!--HIDDEN DIV-->
<!--like list-->
<div id="like-list">
    <h6>좋아요 목록</h6>
    <ul>
        {% for like in post.like_users.all %}
        {% if like != post.writer %}
        <p>{{ like.nickname }}</p>
        <a href="{% url 'accounts:profile' like.user_id %}">남의 프로필</a>
        <br>
        {% endif %}

        {% empty %}
        <li> ㅠㅠ </li>
        {% endfor %}
    </ul>
</div>

<!-- COMMENT -->
<div id="comment">
    <h3>댓글</h3>
    {% if comments %}
    <p>댓글 {{ comments|length }}개</p>
    {% endif %}

    <ul>
        {% for comment in comments %}
        <li>
            <p>{{ comment.writer.nickname }} ({{ comment.created_at }}) - {{ comment.content }}</p>
            <a href="{% url 'accounts:profile' comment.writer.user.profile.user_id %}">남의 프로필</a>

            <!-- delete -->
            {% if comment.writer.user == request.user %}
            <form action="{% url 'diary:comment_delete' post.id comment.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="submit" value="delete" onclick="return confirm('really delete?')">
            </form>
            <!-- update -->
            <a href="{% url 'diary:comment_update' post.id comment.id %}">수정</a>
            {% endif %}

            <!-- reply-button -->
            <button class="reply-button" parent-id="{{ comment.id }}">답글</button>


            <!-- reply-comment -->
            <!-- reply-comment list -->
            <div>
                {% if comment.replies.all %}
                <ul>
                    {% for reply in comment.replies.all %}
                    <li>
                        <p>>> {{ reply.writer.nickname }} ({{ reply.created_at }}) - {{ reply.content }}</p>
                        <a href="{% url 'accounts:profile' reply.writer.user.profile.user_id %}">남의 프로필</a>

                        <!-- delete -->
                        {% if reply.writer.user == request.user %}
                        <form action="{% url 'diary:comment_delete' post.id reply.id %}" method="POST"
                            style="display: inline;">
                            {% csrf_token %}
                            <input type="submit" value="delete" onclick="return confirm('really delete?')">
                        </form>
                        <!-- update -->
                        <a href="{% url 'diary:comment_update' post.id reply.id %}">수정</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <hr>

            <!-- reply-comment form -->
            <div class="reply-form" id="reply-form-{{ comment.id }}">
                {% if request.user.is_authenticated %}
                <form class="reply-form-{{ comment.id }}" method="POST"
                    action="{% url 'diary:comment_reply' post.id comment.id %}">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="작성">
                </form>
                {% endif %}
            </div>
        </li>

        {% empty %}
        <p>No 댓글</p>

        {% endfor %}
    </ul>

    <!--Form-->
    <div>
        <!-- comment create form -->
        {% if request.user.is_authenticated %}
        <form action="{% url 'diary:comment_create' post.id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="작성">
        </form>

        {% else %}
        <a href="{% url 'account_login' %}">댓글 쓸라면 로그인</a>
        {% endif %}
    </div>

</div>
{% endblock %}