{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/detail.css' %}">

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/detail.js' %}"></script>
<script src="{% static 'js/music/musicPlayer.js' %}"></script>
{% endblock %}

{% block content %}
<!-- CONTENT -->
<div class="upper-container">
    <!--information-->
    <h2 id="title"> {{post.title}} </h2>
    <a id="nickname" href="{% url 'accounts:profile' post.writer.user.profile.user_id %}">@{{post.writer.nickname}}</a>

    <!--CRUD Button-->
    {% if post.writer.user == request.user %}
    <a class="edit-btn" id="second-edit" href="{% url 'diary:update' post.id %}">수정</a>
    <a class="edit-btn" href="{% url 'diary:delete' post.id %}" onclick="return confirm('정말로 삭제하시겠습니까?')">
        삭제
    </a>
    {% endif %}

</div>

<div class="under-container">
    <!--music-->
    <div class="music-container">
        <!--video-->
        <div id="player" video-id="{{ post.video_id }}"></div>

        <!--player-->
        <div class="player-control">
            <div class="video-control">
                <span class="material-symbols-outlined" id="playBtn">play_arrow</span>
                <input id="seeker" type="range" value="0">
            </div>
            <div class="volume-control">
                <span class="material-symbols-outlined" id="mute">volume_up</span>
                <input id="volume" type="range" min="1" max="100" value="50">
            </div>
        </div>
    </div>

    <!--main content-->
    <div class="diary-container">
        {{ post.content|mark }}
    </div>

    <!--like number & create_at-->
    <div id="like-number">
        <p>{{ post.create_at }}</p>
        <p class="modal-input" data-modal="like-list">{{ post.like_users.count }}명이 좋아합니다.</p>
    </div>
</div>

<!--comment/like button-->
<form action="{% url 'diary:like' post.id %}" method="POST">
    {% csrf_token %}

    {% if request.user.profile in post.like_users.all %}
    <input class="edit-btn" id="like-btn" type="submit" value="❤️">
    {% else %}
    <input class="edit-btn" id="like-btn" type="submit" value="🤍">
    {% endif %}
</form>
<button class="edit-btn modal-input" id="comment-btn" data-modal="comment">댓글</button>


<!--HIDDEN DIV-->
<!--like list-->
<div class="modal-container" id="like-list">
    <div class="modal" onclick="event.stopPropagation();">
        <span class="close-btn">&times;</span>
        <p class="modal-title">좋아요</p>
        {% for like in post.like_users.all %}
        {% if like != post.writer %}
        <div class="like-profile">
            {% if like.profile_img %}
            <img class="like-img" src="{{ like.profile_img.url }}" alt="">
            {% endif %}
            <a class="like-nickname" href="{% url 'accounts:profile' like.user_id %}">{{ like.nickname }}</a>
        </div>
        {% endif %}
        {% empty %}
        <p class="no"> 첫 반응을 남겨보세요! </p>
        {% endfor %}
    </div>
</div>
<!--comment-->
<div class="modal-container" id="comment">
    <div class="modal" onclick="event.stopPropagation();">
        <span class="close-btn">&times;</span>
        <p class="modal-title">댓글 {{ comments|length }}개</p>

        <!--Comment list-->
        <div class="comment-list-container">
            {% for comment in comments %}
            <div class="comment-container">
                <div class="upper-content">
                    <div class="comment-profile">
                        {% if comment.writer.profile_img %}
                        <img class="comment-img" src="{{ comment.writer.profile_img.url }}" alt="">
                        {% endif %}
                        <a class="comment-writer"
                            href="{% url 'accounts:profile' comment.writer.user.profile.user_id %}">
                            @{{ comment.writer.nickname }}</a>
                    </div>
                    <p class="comment-time">{{ comment.created_at|date:"Y.m.d. H:i" }}</p>
                </div>
                <p class="comment-content">{{ comment.content }}</p>
            </div>

            <div class="comment-btn">
                <!-- delete -->
                {% if comment.writer.user == request.user %}
                <form action=" {% url 'diary:comment_delete' post.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input class="comment-edit" type="submit" value="삭제" onclick="return confirm('정말로 삭제하시겠습니까?')">
                </form>
                <!-- update -->
                {% endif %}
                <!-- reply-button -->
                <button class="reply-button comment-edit" parent-id="{{ comment.id }}">답글</button>
            </div>
            <!--reply-form-->
            <div class="reply-form" id="reply-form-{{ comment.id }}">
                {% if request.user.is_authenticated %}
                <form class="reply-form-{{ comment.id }} comment-form" id="reply-control" method="POST"
                    action="{% url 'diary:comment_reply' post.id comment.id %}">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <input class="comment-submit material-symbols-outlined" id="reply-submit" type="submit" value="add">
                </form>
                {% endif %}
            </div>

            <!--Reply Comment list-->
            <div class="reply-list-container">
                {% if comment.replies.all %}
                {% for reply in comment.replies.all %}
                <div class="comment-container" id="reply-container">
                    <div class="upper-content">
                        <div class="comment-profile">
                            {% if comment.writer.profile_img %}
                            <img class="comment-img" src="{{ reply.writer.profile_img.url }}" alt="">
                            {% endif %}
                            <a class="comment-writer"
                                href="{% url 'accounts:profile' reply.writer.user.profile.user_id %}">
                                @{{ reply.writer.nickname }}</a>
                        </div>
                        <p class="comment-time">{{ reply.created_at|date:"Y.m.d. H:i" }}</p>
                    </div>
                    <p class="comment-content">{{ reply.content }}</p>
                </div>

                <div class="comment-btn">
                    {% if reply.writer.user == request.user %}
                    <form action="{% url 'diary:comment_delete' post.id reply.id %}" method="POST">
                        {% csrf_token %}
                        <input class="comment-edit" type="submit" value="삭제" onclick="return confirm('정말로 삭제하시겠습니까?')">
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>

            {% empty %}
            <p class="no">첫번째 댓글을 써주세요!</p>
            {% endfor %}

        </div>

        <!--Comment Form-->
        <div class="comment-form-container">
            {% if request.user.is_authenticated %}
            <form class="comment-form" action="{% url 'diary:comment_create' post.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form.content }}
                <input class="comment-submit material-symbols-outlined" type="submit" value="arrow_upward">
            </form>
            {% else %}
            <a class="require-login" href="{% url 'account_login' %}">댓글을 작성하려면 로그인하세요.</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}