{% extends 'base.html'%}
{% load static %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/music/musicPlayer.js' %}"></script>
<script src="{% static 'js/music/searchMusic.js' %}"></script>
<script src="{% static 'js/editor/tempSave.js' %}"></script>
{% endblock %}

{% block content %}
<!--video-->

<!--search-->
<div>
   <input type="text" id="search-input" placeholder="비디오 제목 + 가수" autocomplete="off">
   <button id="search-btn">Search</button>

   <div id="youtube-result" style="display: flex; overflow-x: auto;"></div>
</div>

<!--player-->
<div id="music-player" style="display: none;">
   <!--video-->
   {% if form.instance.video_id %}
   <div id="player" video-id="{{form.instance.video_id}}"></div>

   {% else %}
   <div id="player" video-id=""></div>
   {% endif %}

   <br>

   <!--player-->
   <div>
      <button id="playBtn">>></button>
      <button id="mute">음소거</button>
      <div class="slider">
         <input id="volume" type="range" min="1" max="100" value="50">
         <input id="seeker" type="range" value="0">
      </div>
   </div>
</div>

<!-- form -->
<form method="POST" autocomplete="off">
   {% csrf_token %}
   {{ form }}
   <input type="submit" value="발행">
   <input type="submit" id="temp-save" name="temp-save" value="임시저장">
</form>

<!--temp-save-->
<button id="temp-save-list-btn">Search</button>
<div id="temp-save-list"></div>
{% endblock %}