{% extends 'base.html'%}
{% load static %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/common/home.css' %}">
{% endblock %}

{% block content %}

<!--authentication-->
<div class="upper-container">
    <!-- Logout/Login -->
    {% if request.user.is_authenticated %}
    <form action="{% url 'account_logout' %}" method="POST">
        {% csrf_token %}
        <input id="logout" type="submit" value="로그아웃">
    </form>
    {% else %}
    <a id="login" href="{% url 'account_login' %}">로그인</a>
    {% endif %}
</div>

<div class="under-container">
    <div class="user">
        {% if user_profile.profile_img %}
        <img class="img" src="{{ user_profile.profile_img.url }}">
        {% else %}
        <div class="img"></div>
        {% endif %}
        <a id="nickname" href="{% url 'accounts:profile' user_profile.user_id %}">
            {{ user_profile.nickname|default:"로그인하세요." }}</p>
    </div>

    {% for post in posts %}
    <div class="post">
        <div class="left-content">
            <a id="title" href="{% url 'diary:detail' post.id %}">{{ post.title }}</a>
            <p id="artist">{{ post.artist }} - {{ post.music_title }}</p>
        </div>
        <img id="thumbnail" src="{{ post.thumbnail_url }}">
    </div>
    {% endfor %}

</div>
<!-- Guest Alert -->
{% for message in messages %}
{% if 'guest_message' in message.tags %} <!-- 태그가 'guest_message'인 메시지 필터링 -->
<script>
    alert("{{ message }}");
</script>
{% endif %}
{% endfor %}

{% endblock %}