{% load static %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">

  <!-- CSS -->
  {% block css %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/common/navigation.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  {% endblock %}

  <!--script-->
  {% block scripts %}
  <script src="{% static 'js/modal.js' %}"></script>
  {% endblock %}

  <!-- Title -->
  <title>soundScape</title>
</head>

<body>
  <!-- navbar -->
  <div id="navigation" class="material-symbols-outlined">
    <a id="home" class="icon" href="{% url 'diary:index' %}">home</a>
    <a id="search" class="icon" href="">search</a>
    <a id="new" class="icon" href="{% url 'diary:create' %}">add</a>
    <a id="follow" class="icon" href="javascript:alert('준비중입니다.');">group</a>

    {% if request.user.is_authenticated %}
    <a id="profile" class="icon" href="{% url 'accounts:profile' user_profile.user_id %}">person</a>
    {% else %}
    <a id="profile" class="icon" href="{% url 'account_login' %}">person</a>
    {% endif %}
  </div>

  <!--content -->
  <div>
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>