{% load static %}

<!DOCTYPE html>

<head>
  <meta charset="UTF-8">

  <!-- CSS -->
  {% block css %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  <!--script-->
  {% block scripts %}

  {% endblock %}
  <!-- Title -->
  <title>Main</title>
</head>

<body>
  <div>
    <!-- navigation -->
    <a href="{% url 'diary:index' %}">HOME</a>
    <a href="{% url 'diary:create' %}">NEW</a>

    <!-- LogOut/Login -->
    {% if request.user.is_authenticated %}
    <form action="{% url 'account_logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="{{user_profile.nickname}} 님 logout">
    </form>

    <!-- profile -->
    <a href="{% url 'accounts:profile' user_profile.user_id %}">프로필 드가자</a>

    {% else %}
    <a href="{% url 'account_login' %}">로그인</a>
    <a href="{% url 'account_signup' %}">회원가입</a>
    {% endif %}

  </div>
  <div>
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>